*{
  padding: 0;
  margin: 0;
}

.app-container{
  /* max-width: 1500px; */
  margin: 0 auto;
  /* padding: 0 60px; */
  height: 100%;
}

html{
  font-family: sans-serif;
  font-size: 17px;
  --light-outline: rgb(221, 221, 221);
  --dark-text: rgb(49, 49, 49);
}



html, body, #root {
  height: 100%;
  margin: 0;
}

.mid-section{
display: flex;
height: calc(100vh); 
/* height: 100%; */
/* background-color: black; */
}

.active-section-container{
  padding: 25px 20px ;
  width: 100%;
}


