.desktop-only {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: #222;          /* arrow color */
  font-size: 20px;      /* affects icon size */
}


.swiper-slide  .product-item-padding{
  padding: 0;
}





@media (min-width: 768px) {
  .desktop-only {
    display: block;
  }
}