*{
  margin: 0;
  padding: 0;
}


:root {
  --light-black-text: rgb(39, 39, 39);
  --dark-white-text: rgba(245, 245, 245, 0.91);
  --dark-white-background: rgba(243, 243, 243, 0.91);
  --light-black-background: rgba(34, 34, 34, 0.91);
  --palette-green: rgb(156, 237, 156);
  --palette-muted-green: rgb(235, 242, 235);
  

  --palette-1: #f5f7fd;
  --palette-2: #d7def8;
  --palette-3: #cdd6f7;
  --palette-4:  #c2cef5;
  --palette-5: #b8c6f3;
  --palette-6: #9aadee;
  --palette-7: #6c79a7;
  --palette-8: #2e3447;
  --palette-9: #0f1118;

  --f-sm: 16px;
  --f-md: 18px;
  --f-l: 28px;

  --light-box-outline: rgb(231, 221, 221);
  --dark-box-outline: rgb(118, 118, 118);
  --max-container: 1700px;
 
}
html{
  font-size: 16px;
  /* font-family: Arial, Helvetica, sans-serif; */
  
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: var(--light-black-text);
  /* font-weight: <weight>;
  font-style: normal; */
}

.app-container{
  padding: 0 50px;
  max-width: var(--max-container);
  margin: 0 auto;
    box-sizing: border-box;
}

.section-background{
  margin-top: 50px;
}

.page-title{
  margin: 0 auto;
  width: fit-content;
  font-size: 40px;
  margin: 10px auto 40px;
}


@media (max-width: 950px) {
  .app-container{
    padding: 0 10px;
  }
  html{
    /* font-size: 13px; */
  }
}

input:focus{
  outline: none;
}