.products-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
    margin-left: -20px;
  margin-right: -20px;
  /* justify-content: space-between; */

}

.product-item-padding{
  /* max-width: 200px; */
  /* height: 30px; */
  padding: 20px;

}
.product-item{
  width: 20%;

}

.product-img{
  /* max-height: 300px; */
  width: 100%;

}

.latest-collection{
  margin-top: 70px;
}

@media (max-width: 950px){
  .product-item{
  width: 33.1%;

}
}
@media (max-width: 500px){
  .product-item{
  width: 50%;

}
}