.user-delivery-info{
  display: flex;
  flex-direction: column;
}

.user-delivery-info input{
  padding: 15px 20px ;
  /* border: 1px solid var(--light-box-outline); */
}
.delivery-info-wrapper{
  display: flex;
  flex-direction: column;
  width: 450px;
}

.delivery-spacer{
  margin-top: 20px
}

.two-input-section{
display: flex;
justify-content: space-between;
}

.place-order-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.payment-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.payment-methods{
  display: flex;
  width: 100%;
  margin-bottom: 36px;
  /* border: 1px solid var(--light-box-outline); */
  border-radius: 5px;
  font-size: 18px;

  align-items: center;
  justify-content: center;
}


.paypal-img{
  background-color: #ffc439;
}

.payment-img{
  /* padding: 15px 30px; */
  cursor: pointer;
  /* margin: 0 auto; */
  margin-left: 20px;
}

@media (max-width: 1000px){
  .place-order-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-total-section{
    margin-top: 50px;
  }
}